---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="">
		<section>
			<div class="hero-section relative h-screen flex items-center justify-center">
				<div class="absolute inset-0 bg-cover bg-center brightness-50" style="background-image: url('/port.jpg');"></div>
				<div class="text-center text-white relative z-10">
					<h1 class="text-5xl font-bold tracking-widest">A WAY TO GET THE BEST OUT OF YOU</h1>
					<p class="mt-4 text-2xl font-light tracking-widest"> ISOLET SALON</p>
				</div>
			</div>
		</section>
		<section>
			Another one that is completely diferent.
		</section>
	</main>
</Layout>
