---
import Layout from '../layouts/Layout.astro';
import Servicios from '../components/Servicios.astro';
import Conocenos from '../components/Conocenos.astro';
import Hero from '../components/Hero.astro'
import Contacto from '../components/Contacto.astro';

import '@fontsource/urbanist';
import '@fontsource/italiana';
import '@fontsource/roboto';

---

<Layout title="Isolet Salon">
	<main class="">
		<Hero/>
		<article class="px-5 md:px-40 lg:px-60">
			<section class="flex items-center justify-center font-light text-2xl p-10">
				<p class="text-center">
					Brindamos un servicio de calidad al cliente contribuyendo a su belleza estética mediante un cambio de imagen o un retoque de la misma y un ambiente ameno durante su estadía, logrando así un nivel de satisfacción alto al retirarse del establecimiento.
				</p>
			</section>
			<hr
			class="my-6 h-0.5 border-t-0 bg-neutral-300 opacity-100 dark:opacity-50 mx-10" />
			<Servicios/>
			<Conocenos/>
			<Contacto/>
		</article>
	</main>
</Layout>