---
import { FaInfoCircle } from "react-icons/fa";

---

<div class="mt-10 grid xl:grid-cols-2 grid-cols-1 shadow-md" id="about">
    <div class="bg-zinc-900 p-40 flex flex-col gap-7">
        <FaInfoCircle className="text-4xl text-white"/>
        <h1 class="font-urbanist text-white text-5xl">Acerca de nosotros</h1>
    </div>
    <div class="p-10 bg-white rounded-xl flex justify-start items-center">
        <p class="font-light text-xl">El negocio de Isolet Salón surgió como una idea de poder prestar servicios de belleza de una manera profesional logrando alquilar un local en 2013, debido al buen servicio y la lealtad de sus clientes, se ha logrado mantener hasta el día de hoy, prosperando y buscando ampliar el mercado.</p>
    </div>
</div>