---
import { FaInfoCircle } from "react-icons/fa";

---

<div class="mt-10 grid xl:grid-cols-2 grid-cols-1 shadow-md" id="about">
    <div class="bg-zinc-900 p-40 flex flex-col gap-7">
        <FaInfoCircle className="text-4xl text-white"/>
        <h1 class="font-urbanist text-white text-5xl">Acerca de nosotros</h1>
    </div>
    <div class="p-10 bg-white rounded-xl flex justify-start items-start flex-col gap-10">
        <h3 class="text-3xl font-urbanist">Misión</h3>
        <p class="font-light text-xl">En Isolet Salón nos comprometemos a brindar un servicio de calidad al cliente contribuyendo a su belleza estética mediante un cambio de imagen o un retoque de la misma y un ambiente ameno durante su estadía, logrando así un nivel de satisfacción alto al retirarse del establecimiento.</p>
        <h3 class="text-3xl font-urbanist">Visión</h3>
        <p class="font-light text-xl">Ser una empresa reconocida en la región por su calidad y buen servicio, contando con sucursales en distintos puntos para estar más cerca de los clientes siendo proveedores de belleza.</p>
    </div>
</div>