---


---

<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css'>
<footer class="bg-zinc-900 p-10 mt-10">
    <div class="flex flex-col justify-center items-center gap-5">
        <h1 class="text-3xl font-italiana font-bold text-white tracking-widest">ISOLET SALÓN</h1>
        <p class="text-xl font-urbanist text-white tracking-widest">Sígueme:</p>
        <div class="flex gap-14 text-2xl text-white mt-10">
            <i class="fi fi-brands-facebook"></i>
            <i class="fi fi-brands-twitter"></i>
            <i class="fi fi-brands-instagram"></i>
            <a href="https://api.whatsapp.com/send?phone=8333019932&text=Hi"><i class="fi fi-brands-whatsapp"></i></a>
        </div>
    </div>
</>