<nav class="absolute w-screen z-50 py-5 px-8">
    <section class="flex text-white justify-between">
        <div class="font-light text-2xl uppercase tracking-widest">
            <h1>Isolet Salon</h1>
        </div>
        <div class="flex gap-10 font-light uppercase text-sm tracking-wide">
            <a href="#" class="hover:bg-white transition ">Contacto</a>
            <a href="#" class="hover:underline transition-all">Servicios</a>
            <a href="/about" class="hover:underline transition-all">Acerca de</a>
            <a href="#" class="hover:underline transition-all">Chosto</a>
        </div>
    </section>
</nav>