---
import '@fontsource/urbanist';
import BarButton from '../components/NavBarToggle';
import BarMenu from '../components/BarMenu'
---

<nav class="absolute w-full z-50 py-5 px-8 font-urbanist">
    <section class="flex text-white justify-between">
        <a href="/" class="font-light text-2xl uppercase tracking-widest flex items-center gap-3">
            <div class='w-16'>
                <img src="/isolet.png" alt="" />
            </div>
            <h1 class="hidden md:flex">Isolet Salón</h1>
        </a>
        <div class="items-center gap-10 font-light uppercase text-sm tracking-wide hidden lg:flex">
            <a href="#servicios" class=" transition hover:bg-white/30  p-3  rounded">Servicios</a>
            <a href="#about" class=" transition p-3 hover:bg-white/30   rounded">Conócenos</a>
            <a href="#galeria" class=" transition p-3 hover:bg-white/30  rounded">Galería</a>
            <a href="#contacto" class="transition p-3 hover:bg-white/30   rounded">Contacto</a>
        </div>
        <div class="flex items-center text-3xl lg:hidden">
            <BarButton client:load/>
        </div>
        <div class="absolute">
            <BarMenu client:load/>
        </div>
    </section>
</nav>
