---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Isolet Salon - Depilación'>
    <div class="">
        <section class="hero-section relative h-screen flex items-center justify-center">
            <div class="absolute inset-0 bg-cover bg-center brightness-50" style="background-image: url('/depilacion.jpg');"></div>
            <div class="flex flex-col gap-8 text-center text-white relative z-10 p-20 ">
                <svg viewBox="0 0 100 5">
                    <line x1="0" y1="0" x2="100" y2="0" stroke="white" />
                </svg>
                <h1 class="tracking-wider text-5xl lg:text-7xl  font-bold font-urbanist ">Depilación</h1>
                <svg viewBox="0 0 100 5">
                    <line x1="0" y1="0" x2="100" y2="0" stroke="white" />
                </svg>
            </div>
        </section>
        <section class="descripcion-depilacion container mx-auto py-20 px-20 font-urbanist">
            <h2 class="text-4xl font-bold mb-6">Experimenta una Piel Suave y Sin Vello</h2>
            <p class="text-gray-700 mb-4 text-lg">En nuestro centro de depilación, nos dedicamos a proporcionar servicios de depilación de alta calidad para que puedas disfrutar de una piel suave y sin vello. Nuestro equipo de profesionales altamente capacitados utiliza las últimas técnicas y equipos para garantizar resultados duraderos y satisfactorios.</p>
        
            <h3 class="text-2xl font-bold mb-2">Servicios que Ofrecemos:</h3>
            <ul class="list-disc ml-6 mb-4 text-lg">
                <li>Depilación con Cera</li>
            </ul>
        
            <p class="text-gray-700 text-lg">Ya sea que estés buscando una depilación facial, corporal o cualquier otro tratamiento específico, estamos aquí para cuidar de ti y asegurarnos de que te sientas cómodo y confiado con tu piel.</p>
        </section>
    </div>
</Layout>