---
import Layout from '../../layouts/Layout.astro';
---

<Layout title=''>
    <section class="">
        <div class="hero-section relative h-screen flex items-center justify-center">
            <div class="absolute inset-0 bg-cover bg-center brightness-50" style="background-image: url('/demo.jpg');"></div>
            <div class="flex flex-col gap-8 text-center text-white relative z-10 p-20 ">
                <svg viewBox="0 0 100 5">
                    <line x1="0" y1="0" x2="100" y2="0" stroke="white" />
                </svg>
                <h1 class="tracking-wider text-5xl lg:text-7xl  font-bold font-italiana ">Peinado</h1>
                <svg viewBox="0 0 100 5">
                    <line x1="0" y1="0" x2="100" y2="0" stroke="white" />
                </svg>
            </div>
        </div>
    </section>
</Layout>